@page "/facility"
@layout MainLayout
@inject IJSRuntime js
@using FM.DTOs
@inject HttpClient Http
@inject NavigationManager navigationaManager

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Facility</h4>
                <button @onclick="AddNewFacility" class="btn btn-outline-success" style="margin-left:990px">Add New</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th> ID</th>
                                <th> Name</th>
                                <th>Setting</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in facilityList)
                            {
                                <tr>

                                    <td>
                                        <span class="pl-2">@item.ID</span>
                                    </td>
                                    <td> @item.Name </td>

                                    <td>
                                        <div class="badge badge-outline-warning">Edit</div>
                                        <div class="badge badge-outline-danger">Delete</div>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    List<FacilityDto> facilityList = new List<FacilityDto>();
    bool addFacilityModal = false;
    protected async override Task OnInitializedAsync()
    {

        facilityList = await Http.GetFromJsonAsync<List<FacilityDto>>("Facility/GetAll");
    }

    public void AddNewFacility()
    {
         navigationaManager.NavigateTo("/AddNewFacility");
    }
}
